<!-- Header Design -->
<mat-toolbar color='primary'>
        <div class="button-row">
        <button mat-raised-button  color="primary">Home</button>
        <button mat-raised-button  color="primary">About</button>
        <button mat-raised-button  color="primary">Qualification</button>
        <button mat-raised-button  color="primary">ServicesOffered</button>
        <button mat-raised-button  color="primary">Contact</button>
        </div>
    </mat-toolbar>
 <!-- Footer Design -->
<footer style="position: fixed; bottom: 0px; width: 100%; height: 60px">
    <mat-toolbar color="primary" class="bottom">
        <i class="material-icons">copyright</i>
         <span style="font-size: 10px" >copyrights</span>
         
        </mat-toolbar>
    
    
    </footer>
  