<!DOCTYPE html>
<html>
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
          
    </head>
 <body>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  
  
  
 
    
      <div class="card">
          <div class="card-header">
            <img src="../assets/images/Deepak.jpg" />
          </div>
          <div class="card-content">
            <h2>Dr.Deepak David's Urology Care</h2>
            <h4>Protect your kidneys ,Save your heart.</h4>
            <p>The good physician treats the disease;the great physician treats the patient who has the disease ~~William Osler</p>
          </div>
          
        </div>
        
 </body>



