<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    .image {
        width: 100%;
        height: auto;
    }
    </style>
</head>

<img src="https://images6.alphacoders.com/429/429155.jpg" class="image" >
<div class="warmOscar">
  <div class="absoluteCenter">
    <img src="https://sharemy.media/ben/codepen/portfolio/ben.png" />
      <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

    <h2 class="h2"> 
      Dr.Sam's Nephrology.<span>Care.</span>
      
    </h2>
   
    <p style="font-family:courier;font-size:160%;" >Protect your kidneys ,Save your heart.<br>
 
     <q>The good physician treats the disease;the great physician treats the patient who has the disease</q>

    ~~William Osler

    </p>

  </div>

</div>