<!DOCTYPE html>
<html lang = "en-US">
 <head>
 <meta charset = "UTF-8">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
 
 <style type = "text/css">
  body {
  background-image: url("https://static.pexels.com/photos/433267/pexels-photo-433267.jpeg");
  position: fixed; 
  top: 08%; 
  left: 0; 
  background-repeat: no-repeat;
  background-size: cover;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  }
 </style>
 </head>
 <body>
<div id="container">
    
        
        <section id="content-about">
          <img alt="An awesome photo of Ben!" src="https://sharemy.media/ben/codepen/portfolio/ben.png" />
          <h1>Dr.Sam </h1>
          <h2>Nephrologist</h2>
          <p><em>Hello, World!</em></p>
          <p>
               <em>A nephrologist is a physician who studies and deals with nephrology. 
                Nephrology is the adult and pediatric study of the kidneys and its diseases. 
                The nephrologist deals with the diagnosis and management of kidney disease. 
                The kidneys are vital for maintaining normal fluid and electrolyte balance in the body.
            </em> 
            </p>
          
        </section>
       
       
      </div>
      </body>
      </html>