
 <!DOCTYPE html>
 <html>
 <head>
 <style>
 .container {
     position: relative;
 }
 
 .topleft {
     position: absolute;
     top: 8px;
     left: 16px;
     font-size: 18px;
 }
 
 img { 
     width: 100%;
     height: auto;
     opacity: 0.5;
 }
 </style>
 </head>
 <body>
 <div class="container">
   <img src="https://images7.alphacoders.com/355/355444.jpg" alt="Norway" width="1000" height="300">
   <div class="topleft">
        <h1> About Dr. Mediratta </h1>
         Dr. Mediratta specializes in treating Resistant depression with Transcranial Magnetic Stimulation, TMS therapy with Brainsway.
         
         Dr. Mediratta graduated medical school at Delhi University India and completed Psychiatric residency training at Creighton University in Omaha, NE.
         
         Dr. Mediratta has extensive experience in treating almost all psychiatric conditions. In his career, he has been affiliated with Borgess Medical Center in Kalamazoo, MI as Chairman of Department of Psychiatry and Chief of Staff at Bronson Lakeview Hospital in Paw Paw,MI.
      </div>
 </div>
 
 </body>
 </html>
 
  
    
 