
 <!DOCTYPE html>
 <html>
 <head>
 <style>
 .container {
     position: relative;
 }
 
 .topleft {
     position: absolute;
     top: 8px;
     left: 16px;
     font-size: 18px;
 }
 
 img { 
     width: 100%;
     height: auto;
     opacity: 0.5;
 }
 </style>
 </head>
 <body>
 <div class="container">
   <img src="https://images4.alphacoders.com/548/54874.jpg" alt="Norway" width="1000" height="300">
   <div class="topleft">
        <h1> About Dr. XX </h1>
        <p>
        A nephrologist is a physician who studies and deals with nephrology. 
        Nephrology is the adult and pediatric study of the kidneys and its diseases. 
        The nephrologist deals with the diagnosis and management of kidney disease. 
        The kidneys are vital for maintaining normal fluid and electrolyte balance in the body.
    </p>
        
      </div>
 </div>
 
 </body>
 </html>