html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
   }

   * {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #ccc;
    color: #bbb;
    font: 1rem/1 "open sans", sans-serif; /* 16px */
  }
  
  #container {
    background: #333;
    margin: auto;
    max-width: 768px;
    height:620px;
    padding: 1.25rem; /* 20px */
  }
  
  
 
  
  #content-about {
    margin-bottom: 1.25rem; /* 20px */
  }
  
  #content-about > img {
    border-radius: 50%;
    display: block;
    margin: 0 auto 1.25rem; /* 20px */
  }
  
  #content-about > h1 {
    font-size:  70px ;
    margin-bottom: 0.625rem; /* 10px */
    text-align: center;
  }
  
  #content-about > h2 {
    border-bottom: 0.125rem dashed #444; /* 2px */
    color: #666;
    font-size: 30px ;
    margin-bottom: 1.25rem; /* 20px */
    padding-bottom: 1.25rem; /* 20px */
    text-align: center;
  }
  
  #content-about > p {
    line-height: 1.25; /* 20px */
    margin-bottom: 1.25rem; /* 20px */
  }
  
  #content-about > p:last-child {
    border-bottom: 0.125rem dashed #444; /* 2px */
    margin-bottom: 0;
    padding-bottom: 1.25rem; /* 20px */
  }
  
  #content-about > p > em {
    color: #ddd;
    font-family: "roboto mono", monospace;
    font-style: normal;
    font-size: 20px ;
  }
  
  #content-about > p > em::before {
    content: "\003e\00a0"; /* Greater Than Sign and Space */
  }
  
  #content-about abbr {
    text-decoration: none;
  }
  