
<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"></head>
<section>
  <h3>Our Services</h3>
  <p class="section-lead">We perform a variety of services.</p>
  <div class="services-grid">
    <div class="service service1">
      <i class="ti-bar-chart"></i>
      <h4>Kidney transplantation</h4>
      <p>Kidney transplantation or renal transplantation is the organ transplant of a kidney into a patient with end-stage renal disease. Kidney transplantation is typically classified as deceased-donor (formerly known as cadaveric) or living-donor transplantation depending on the source of the donor organ. </p>
      <a href="#" class="cta">Read More <span class="ti-angle-right"></span></a>
    </div>

    <div class="service service2">
      <i class="ti-light-bulb"></i>
      <h4>Treatment of acute kidney injury</h4>
      <p>Measures to correct underlying causes of acute kidney injury (AKI) should begin at the earliest indication of renal dysfunction. Serum creatinine does not rise to abnormal levels until a large proportion of the renal mass is damaged, because the relationship between the glomerular filtration rate .</p>
      <a href="#" class="cta">Read More <span class="ti-angle-right"></span></a>
    </div>

    <div class="service service3">
      <i class="ti-money"></i>
      <h4>Electrolyte and acid/base disorders</h4>
      <p>Surgical patients are at high risk for derangements of body water distribution, electrolyte homeostasis, and acid-base physiology. These disturbances may be secondary to trauma, preexisting medical conditions which alter normal physiology, or the nature of the surgery.</p>
      <a href="#" class="cta">Read more <span class="ti-angle-right"></span></a>
    </div>
  </div>
</section>