<!DOCTYPE html>
<html lang = "en-US">
 <head>
 <meta charset = "UTF-8">
 
 <style type = "text/css">
  body {
  background-image: url("https://images4.alphacoders.com/572/572064.jpg");
  position: fixed; 
  top: 08%; 
  left: 0; 
  background-repeat: no-repeat;
  background-size: cover;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  }
 </style>
 </head>
 <body>
<div class="container">
    
  
    <div class="hex hex-1 hex-gap">		
      <div class="inner">
          <h4>Services offered</h4>
          <hr />
          <p>Consultation</p>
      </div>		
      <a href="#"></a>
      <div class="corner-1"></div>
      <div class="corner-2"></div>		
    </div>
    
    <div class="hex hex-2">		
      <div class="inner">
      </div>		
      <a href="#"></a>
      <div class="corner-1"></div>
      <div class="corner-2"></div>		
    </div>
  
  
    <div class="hex hex-3">		
      <div class="inner">
      </div>		
      <a href="#"></a>
      <div class="corner-1"></div>
      <div class="corner-2"></div>		
    </div>	
    
    <div class="hex" style="background-image: url(images/1.jpg);">		
      <a href="#"></a>		
      <div class="corner-1"></div>
      <div class="corner-2"></div>		
    </div>
    
    <div class="hex" style="background-image: url(images/2.jpg);">		
      <a href="#"></a>		
      <div class="corner-1"></div>
      <div class="corner-2"></div>		
    </div>
    
    <div class="hex" style="background-image: url(images/3.png);">		
      <a href="#"></a>		
      <div class="corner-1"></div>
      <div class="corner-2"></div>		
    </div>
    
    
    
    
  
  
  <div class="hex" style="background-image: url(images/19.jpg);">		
               <div class="inner">
          <h4>Stacked</h4>
          <hr />
          <p>Hexagons</p>
          <a href="#"></a>
      <div class="corner-1"></div>
      <div class="corner-2"></div>		
    </div>
      <a href="ballpit.html"></a>		
      <div class="corner-1"></div>
      <div class="corner-2"></div>		
    </div>	
  </div>
  </body>
  </html>
    
