
<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"></head>
<section>
  <h3>Services</h3>
  <p class="section-lead">Variety of services performed.</p>
  <div class="services-grid">
    <div class="service service1">
      <i class="ti-bar-chart"></i>
      <h4>Major </h4>
      <p>Renal / Ureteric/ Bladder Stones</p>
      <h4>Uro-Oncology</h4>
      <p>Management of bladder/ renal/ penile/ testicular cancer
          laparoscopic urology</p>
           <!--<a href="#" class="cta">Read More <span class="ti-angle-right"></span></a>-->
    </div>

    <div class="service service2">
      <i class="ti-light-bulb"></i>
      <h4>Reconstructive Urology</h4>
      <p>Uretheral structure disease ( buccal mucosal graft urethroplasty) pelvic ureteric junction obstruction ( Pyeloplasty)</p>
        <h4> Paediatric Urology:</h4>
        <p>Hypospadias, vesicoureteric reflux disease, pediatric stone management, dysfunctional voiding.</p>
      <!--<a href="#" class="cta">Read More <span class="ti-angle-right"></span></a>-->
    </div>

    <div class="service service3">
      <i class="ti-money"></i>
      <h4>Prostate Disease</h4>
      <p>BPH, Ca Prostate </p>
      <h4>Uro Gynecology:</h4>
      <p>Management of stress incontinence, iatrogenic ureteral/ bladder injury.</p>
       <!--<a href="#" class="cta">Read more <span class="ti-angle-right"></span></a>-->
    </div>
  </div>
</section>