<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
 
</head>

<section>  
        
    <div class="services-grid">
        <div class="service service1">
         
            <h4 class="section-lead">Office hours  </h4>
            <span class="section-lead">Monday - Friday: 0.00 am-0.00pm<br>Saturday : 0.00 am-0.00pm<br>Sunday: 0.00 am-0.00pm</span>
              
        </div>
       
        
        <div class="service service2">
        
            <h4 class="section-lead">Contact us </h4>
          
                <i style="width:2%" class="material-icons">email</i> 
                <span style="font-size: 10px" align ="center">hello@world.com</span>
                <i style="width:2%" class="material-icons">phone</i>
                <span style="font-size: 10px" align ="center">+91 1234 56789</span><br>
               
        </div>
        
      </div>
    <div class="services-grid">
      <div class="service service1">
       
          <form class="example-form">
              <mat-form-field class="example-full-width" >
                <input matInput floatPlaceholder="auto" placeholder="Name" >
              </mat-form-field>
              
              
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter your email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field><br>
              <mat-form-field class="example-full-width" >
                <input matInput floatPlaceholder="auto" placeholder="Subject" >
              </mat-form-field><br>
              
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Message"></textarea>
              </mat-form-field>
            <button mat-raised-button color="primary" class="example-full-width" >Send Message</button>
              </form> 
             
        
      </div>
     
      
      <div class="service service2">
      
          <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng">
                <agm-snazzy-info-window [isOpen]="true" [latitude]="51.673858" [longitude]="7.815982" >
                 <ng-template>
                    <p class="solid">1234 <br>NW 12th St. <br>Nageroil B.C. 12345 </p>
                  </ng-template>
                </agm-snazzy-info-window>
              </agm-marker>
              </agm-map>
             
      </div>
      
    </div>
    
  </section>

 