

/*Google Maps */
agm-map {
    height: 200px;
    width:500px;
    
    
  }

/** Social icons **/

body {
  background: #ccc; }

#social-icon-wrapper {
  width: 200px;
  height: auto;
  margin: 10px auto; }

.social-icon {
  display: block;
  width: 61px;
  height: 60px;
  float: left;
  margin-top: 30px;
  margin-right: 5px;
  text-align: left;
  background: transparent url(http://digital-hideaway.com/always/social-icons.png) 0 0 no-repeat;
  background-size: 200px; }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 100px;
  }
  
  .example-full-width {
    width: 400px;
  }
  
  .boxed {
        border: 1px solid black ;
  background:whitesmoke;
    width: 600px;
    height:300px;
    margin-left: 30px;
  }





  .h2 {
    font: 80px 'Cookie', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
    margin-left: 500px;
    
  }
  /** Office hours **/
  
  #mainnav {
    height: 60px;
    font-family: Verdana;
  }
  
  .navbar-brand {
    line-height: 60px;
    padding-top: 0;
  }
  
  .nav li a {
    line-height: 60px;
    padding-top: 0;
    font-size: 16px;
  }
  
  .container-contact {
    width: 80vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  
  .btn-send {
    background-color: #737373;
    color: #fff;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-send:hover {
    background-color: #b3b3b3;
  }
  
  .map-overlay {
     background: transparent; 
     position: relative; 
     width: 100%;
     height: 500px; /* your iframe height */
     top: 500px;  /* your iframe height */
     margin-top: -500px;  /* your iframe height */
  }
  
  #footer {
    background-color: #1a1a1a;
    color: #a6a6a6;
    padding-top: 15px;
  }
  
  .footer-nav a:hover {
    text-decoration: none;
    color: #f2f2f2;
  }
  
  .footer-nav a {
    color: #a6a6a6;
  }
  
  .footer-nav li {
    list-style-type: none;
    margin: 5px;
  }
  
  .footer-hours h3 {
    margin-left: 50px;
  }
  
  .footer-hours li {
    list-style-type: none;
    margin: 5px;
  }
    