<section>
    <h3>Office hours</h3>
    <p class="section-lead">Monday - Friday: 0.00 am-0.00pm<br>Saturday : 0.00 am-0.00pm<br>Sunday: 0.00 am-0.00pm</p>
    
    <div class="services-grid">
      <div class="service service1">
       
          <form class="example-form">
              <mat-form-field class="example-full-width" >
                <input matInput floatPlaceholder="auto" placeholder="Name" >
              </mat-form-field>
              
              
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter your email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field><br>
              <mat-form-field class="example-full-width" >
                <input matInput floatPlaceholder="auto" placeholder="Subject" >
              </mat-form-field><br>
              
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Message"></textarea>
              </mat-form-field>
            <button mat-raised-button color="primary" class="example-full-width" >Send Message</button>
              </form> 
             
        
      </div>
     
      
      <div class="service service2">
      
          <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
             
      </div>
      <div class="service service3">
          <h4>Contact Us</h4>
        <span>
         <p> <i class="material-icons">location_on</i>
          1234 NW 12th St. Nageroil B.C. 12345</p>
         <p> <i class="material-icons">phone</i>(123)456-7890</p>
         <p><i class="material-icons">email</i>hello@nephrology.com</p>
            </span>  
        </div>
    </div>
  </section>