<figure class="snip1232">
  <div class="author">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample7.jpg" alt="sq-sample7"/>
    <h5>Pelican Steve</h5><span>Matt</span>
  </div>
  <blockquote>I adore Dr.Sam such a great physician. </blockquote>
</figure>
<figure class="snip1232 hover">
  <div class="author">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample10.jpg" alt="sq-sample10"/>
    <h5>Max Conversion</h5><span>LittleSnippets</span>
  </div>
  <blockquote>Thank you Dr.Sam. You saved my life.</blockquote>
</figure>
<figure class="snip1232">
  <div class="author">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample12.jpg" alt="sq-sample12"/>
    <h5>Eleanor Faint</h5><span>Carrie</span>
  </div>
  <blockquote>Dr.Sam is Such a cool & Talented person. Much awesome.</blockquote>
</figure>